﻿
<h1>Inventories</h1>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody data-bind="foreach : inventories">
        <tr data-bind="template:{name:'edit-template', data: $data }">
            
            
        </tr>
    </tbody>
</table>

<script type="text/html" id="read-template">
    <td data-bind="text:Name"></td>
    <td data-bind="text:Quantity"></td>
</script>

<script type="text/html" id="edit-template">
    <td><input type="text" data-bind="value: Name"></td>
    <td><input type="text" data-bind="value: Quantity"></td>
</script>



@section scripts {
<script src="~/Scripts/knockout-3.4.0.js"></script>

<script src="~/Scripts/jquery-2.2.0.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="~/Apps/InventoryViewModel.js"></script>

}



