﻿<h1>Inventory</h1>


<div>
    @if (Request.IsAuthenticated)
    {
        <a class="btn btn-success" data-bind="click: add">Add</a>
    }
</div>

<table class="table">
    <thead>

        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>

    </thead>

    <tbody data-bind="foreach : inventories">
        @if(Request.IsAuthenticated)
        {
            <tr data-bind = "template: {name: 'edit-template' , data: $data} " ></tr>
        } else
        {
            <tr data-bind = "template: {name: 'read-template' , data: $data} " ></tr>
        }

    </tbody>

</table>

<script type="text/html" id="read-template">
    <td><a class="btn btn-success" data-bind="click: $root.purchaseItem"> Purchase</a> </td>
    <td data-bind="text: Name"></td>
    <td data-bind="text: Quantity"></td>
    <td data-bind="text: Price"></td>
</script>



<script type="text/html" id="edit-template">
    <td><a class="btn btn-danger" data-bind="click: $root.remove"> DEL</a> </td>
    <td> <input type="text" data-bind="value : Name" /> </td>
    <td> <input type="text" data-bind="value : Quantity" /> </td>
    <td> <input type="number" min="0.01" step="0.01" data-bind="value : Price" /> </td>

</script>



@section scripts{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/App/InventoryViewModel.js"></script>


}