﻿

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    {
        @Html.AntiForgeryToken()



        <li class="pull-right">@Html.ActionLink("Sign Out", "Logout", "Users") </li>
        <li class="pull-right">@Html.ActionLink(HttpContext.Current.User.Identity.GetUserName(), "Index", "Users")</li>

    }
}
else
{

    <li class="pull-right">@Html.ActionLink("Sign Up", "Create", "Users")</li>
    <li class="pull-right">@Html.ActionLink("Sign In", "SignIn", "Users")</li>

}

